{% extends "Layout.html" %}
{% load static %}

{%block title%}Dashboard | Amar Shop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}


<!-- main body -->
{%block main%}

<div class="card height-100 p-4 overflow-scroll">

  <div class="row gap-3">
    <div class="row gap-3">
      <div class="col card shadow">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div>
            <img src="{%static 'icons/dashboard/dash-sales.png'%}" width="60" alt="icon"/>
          </div>
          <div class="text-end">
            <div class="fw-bold fs-5">Sales</div>
            <div class="text-success d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="me-1" height="25px" width="25px">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 7.5.415-.207a.75.75 0 0 1 1.085.67V10.5m0 0h6m-6 0h-1.5m1.5 0v5.438c0 .354.161.697.473.865a3.751 3.751 0 0 0 5.452-2.553c.083-.409-.263-.75-.68-.75h-.745M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>              
              {{sales}}
            </div>
          </div>
        </div>
      </div>
      <div class="col card shadow">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div>
            <img src="{%static 'icons/dashboard/dash-purchase.png'%}" width="60" alt="icon"/>
          </div>
          <div class="text-end">
            <div class="fw-bold fs-5">Purchase</div>
            <div class="text-primary d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="me-1" height="25px" width="25px">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 7.5.415-.207a.75.75 0 0 1 1.085.67V10.5m0 0h6m-6 0h-1.5m1.5 0v5.438c0 .354.161.697.473.865a3.751 3.751 0 0 0 5.452-2.553c.083-.409-.263-.75-.68-.75h-.745M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>              
              {{purchase}}
            </div>
          </div>
        </div>
      </div>
      <div class="col card shadow">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div>
            <img src="{%static 'icons/dashboard/dash-due.png'%}" width="60" alt="icon"/>
          </div>
          <div class="text-end">
            <div class="fw-bold fs-5">Debt</div>
            <div class="text-danger d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="me-1" height="25px" width="25px">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 7.5.415-.207a.75.75 0 0 1 1.085.67V10.5m0 0h6m-6 0h-1.5m1.5 0v5.438c0 .354.161.697.473.865a3.751 3.751 0 0 0 5.452-2.553c.083-.409-.263-.75-.68-.75h-.745M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>              
              {{debt}}
            </div>
          </div>
        </div>
      </div>
      <div class="col card shadow">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div>
            <img src="{%static 'icons/dashboard/dash-hidden-expensive.png'%}" width="60" alt="icon"/>
          </div>
          <div class="text-end">
            <div class="fw-bold fs-5">Expenses</div>
            <div class="text-secondary d-flex align-items-center justify-content-end">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="me-1" height="25px" width="25px">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 7.5.415-.207a.75.75 0 0 1 1.085.67V10.5m0 0h6m-6 0h-1.5m1.5 0v5.438c0 .354.161.697.473.865a3.751 3.751 0 0 0 5.452-2.553c.083-.409-.263-.75-.68-.75h-.745M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>              
              {{debt}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gap-3">
      <div class="col-5 card shadow">
        <div class="card-body">
          <div class="fw-bold text-success fs-5">Top 5 Selling Product</div>
          <div class="mt-2">
            <canvas id="topSellChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col card shadow">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="text-danger fw-bold fs-5 d-flex align-items-center">
              Stock Alert
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="ms-1" height="25px" width="25px">
                <path fill-rule="evenodd" d="M5.25 9a6.75 6.75 0 0 1 13.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 0 1-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 1 1-7.48 0 24.585 24.585 0 0 1-4.831-1.244.75.75 0 0 1-.298-1.205A8.217 8.217 0 0 0 5.25 9.75V9Zm4.502 8.9a2.25 2.25 0 1 0 4.496 0 25.057 25.057 0 0 1-4.496 0Z" clip-rule="evenodd" />
              </svg>              
            </div>
            <div class="text-primary">See all</div>
          </div>
          <table class="mt-3 table table-bordered table-sm">
            <thead class="table-secondary">
              <tr>
                <th scope="col" class="align-middle">Product</th>
                <th scope="col" class="text-center align-middle">Category</th>
                <th scope="col" class="text-center align-middle">Brand</th>
                <th scope="col" class="text-center align-middle">Quantity</th>
              </tr>
            </thead>
            <tbody>
              {%for each in stock_alert%}
                <tr>
                  <td class="align-middle">{{each.product_name}}</td>
                  <td class="text-center align-middle">{{each.category}}</td>
                  <td class="text-center align-middle">{{each.brand}}</td>
                  <td class="text-center align-middle text-danger">{{each.quantity}}</td>
                </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row gap-3">
      <div class="col card shadow">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="fw-bold fs-5 d-flex align-items-center text-danger">
              Purchase Due
            </div>
            <div class="text-primary">See all</div>
          </div>
          <table class="mt-3 table table-bordered table-sm">
            <thead class="table-secondary">
              <tr>
                <th scope="col" class="align-middle">Date of Purchase</th>
                <th scope="col" class="text-center align-middle">Supplier</th>
                <th scope="col" class="text-center align-middle">Grand Total</th>
                <th scope="col" class="text-center align-middle">Paid</th>
                <th scope="col" class="text-center align-middle">Due</th>
              </tr>
            </thead>
            <tbody>
              {%for each in purchase_dues%}
                <tr>
                  <td class="align-middle">{{each.date}}</td>
                  <td class="text-center align-middle">{{each.supplier}}</td>
                  <td class="text-center align-middle">{{each.grand_total}}</td>
                  <td class="text-center align-middle">{{each.paid}}</td>
                  <td class="text-center align-middle text-danger">{{each.due}}</td>
                </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-5 card shadow">
        <div class="card-body">
          <div class="fw-bold fs-5 text-success text-center">Top selling brands</div>
          <div class="mt-2">
            <canvas id="tobBrandChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card shadow">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="fw-bold fs-5 d-flex align-items-center">
              Recent Sales
            </div>
            <div class="text-primary">See all</div>
          </div>
          <table class="mt-3 table table-bordered">
            <thead class="table-secondary">
              <tr>
                <th scope="col" class="align-middle">Date</th>
                <th scope="col" class="align-middle">Customer</th>
                <th scope="col" class="text-center align-middle">Product Quantity</th>
                <th scope="col" class="text-center align-middle">Grand Total</th>
                <th scope="col" class="text-center align-middle">Paid</th>
                <th scope="col" class="text-center align-middle">Due</th>
              </tr>
            </thead>
            <tbody>
              {%for each in recent_sales%}
                <tr>
                  <td class="align-middle">{{each.sales_date.date}}</td>
                  <td class="align-middle">{{each.customer.name}}</td>
                  <td class="text-center align-middle">{{each.total_quantity}}</td>
                  <td class="text-center align-middle">{{each.grand_total}}</td>
                  <td class="text-center align-middle">{{each.paid}}</td>
                  <td class="text-center align-middle text-danger">{{each.due}}</td>
                </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card shadow">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="fw-bold fs-5 d-flex align-items-center">
              Recent Purchase
            </div>
            <div class="text-primary">See all</div>
          </div>
          <table class="mt-3 table table-bordered table-sm">
            <thead class="table-secondary">
              <tr>
                <th scope="col" class="align-middle">Date</th>
                <th scope="col" class="text-center align-middle">Supplier</th>
                <th scope="col" class="text-center align-middle">Grand Total</th>
                <th scope="col" class="text-center align-middle">Paid</th>
                <th scope="col" class="text-center align-middle">Due</th>
              </tr>
            </thead>
            <tbody>
              {%for each in recent_purchase%}
                <tr>
                  <td class="align-middle">{{each.date}}</td>
                  <td class="text-center align-middle">{{each.supplier}}</td>
                  <td class="text-center align-middle">{{each.grand_total}}</td>
                  <td class="text-center align-middle">{{each.paid}}</td>
                  <td class="text-center align-middle text-danger">{{each.due}}</td>
                </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        const ctx = document.getElementById('topSellChart');
        const ctx2 = document.getElementById('tobBrandChart')

        new Chart(ctx, {
          type: 'pie',
          data: {
            labels: [
              {%for each in top_sale%}
                {%for key, value in each.items%}
                  '{{key}}',
                {%endfor%}
              {%endfor%}
            ],
            datasets: [{
              label: 'Total Sale',
              data: [
              {%for each in top_sale%}
                {%for key, value in each.items%}
                  '{{value}}',
                {%endfor%}
              {%endfor%}
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        
        new Chart(ctx2,{
          type: 'doughnut',
          data: {
            labels: [
            {%for each in top_brand%}
                {%for key, value in each.items%}
                  '{{key}}',
                {%endfor%}
              {%endfor%}
            ],
            datasets: [{
              label: 'Total sale item',
              data: [
              {%for each in top_brand%}
                {%for key, value in each.items%}
                  '{{value}}',
                {%endfor%}
              {%endfor%}
              ],
              backgroundColor: [
                'rgba(255, 99, 132)',
                'rgba(255, 159, 64)',
                'rgba(255, 205, 86)',
                'rgba(75, 192, 192)',
                'rgba(54, 162, 235)',
                'rgba(153, 102, 255)',
                'rgba(201, 203, 207)'
              ],
              borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          },
        })
      
      </script>
</div>

{%endblock main%}