{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} Update Supplier | Amar Shop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/suppliers.css'%}">
{%endblock link%}


<!-- main body -->
{%block main%}
<div class="supplier">
    
    <div class="card height-100">
        <div class="p-5 d-flex justify-content-center align-items-center height-100">
            <div class="width-100">
                <div class="fs-4 text-center text-success">Update Supplier Information</div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        {{form.as_p}}
                        <div class="width-100 mt-3 d-flex align-items-center">
                            <a class="btn btn-outline-secondary btn-sm" href="{%url 'supplier-list'%}">Cancel</a>
                            <button class="btn btn-success btn-sm ms-2" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{%endblock main%}