{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} Edit Invoice Item | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory">
    <div class="card height-100 d-flex justify-content-center align-items-center">
        
        <div class="card shadow-lg">
            <div class="card-header fw-bold text-success text-center">Update Purchase Invoice Item</div>
            <form class="card-body" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="row">
                    <!-- <div class="col">
                        {{form.as_p}}
                    </div> -->
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="id_product_name">Product Name:</label>
                                    {{ form.product_name }}
                                </div>
                                <div class="mb-3">
                                    <label for="id_category">Category:</label>
                                    {{ form.category }}
                                </div>
                                <div class="mb-3">
                                    <label for="id_subcategory">Sub Category:</label>
                                    {{ form.subcategory }}
                                </div>
                                <div class="mb-3">
                                    <label for="brand">Brand:</label>
                                    {{ form.brand }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="id_unit_price">Unit Price:</label>
                                    {{ form.unit_price }}
                                </div>
                                <div class="mb-3">
                                    <label for="id_quantity">Quantity:</label>
                                    {{ form.quantity}}
                                </div> 
                                <div class="mb-3">
                                    <label for="id_discount">Discount %:</label>
                                    {{ form.discount }}
                                </div> 
                                <div class="mb-3">
                                    <label for="id_tax">Tax %:</label>
                                    {{ form.tax }}
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex aling-items-center justify-content-end">
                    <a href="{%url 'new-purchase-invoice'%}" class="btn btn-outline-secondary">Cancel</a>
                    <button type="submit" class="btn btn-success ms-2">Update</button>
                </div>
              </form>
        </div>       

    </div>


</div>
{%endblock main%}