{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} Add New Product | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory">
    <div class="card p-4">

        <div class="">
            <div class="text-center fs-4">Add New Product</div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{form.as_p}}
                    <div>
                        <a href="{% url 'product-list' %}" class="btn btn-sm btn-outline-secondary">Cancel</a>
                        <button class="ms-2 btn btn-sm btn-success" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
{%endblock main%}