{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} Update Product | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory">

    <div class="card p-5">

        <div class="">
            <div class="fs-5 fw-bolder text-success text-center">Update Product</div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="">
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-sm btn-outline-secondary">
                            Cancel
                        </a> 
                        <button type="submit" class="ms-2 btn btn-sm btn-success">Update</button>
                    </div> 
                </form>
            </div>
        </div>
        
    </div>

</div>
{%endblock main%}