{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} Remove Product | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory">

    <div class="card height-100 d-flex justify-content-center align-items-center p-5">
        
        <div class="card width-50 border border-danger shadow-lg bg-body-tertiary rounded">
            <div class="card-header fs-5 fw-semibold text-center text-danger">Are you sure to delete Product ?</div>
            <div class="card-body">
                <form method="post" accept="">
                    {% csrf_token %}
                    {%if product_image%}
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="{{product_image.image.url}}" height="220px" alt=""/>
                    </div>
                    {%endif%}
                    <div class="fs-4 fw-bold text-center mb-3">{{product.product_name}}</div>
                    <table class="table table-bordered table-sm">
                        <tbody>
                            <tr class="">
                                <td class="p-2 fw-semibold">Category</td>
                                <td class="p-2 text-end">{{product.category}} / {{product.subcategory}}</td>
                            </tr>
                            <tr class="">
                                <td class="p-2 fw-semibold">Brand</td>
                                <td class="p-2 text-end">{{product.brand}}</td>
                            </tr>
                            <tr class="">
                                <td class="p-2 fw-semibold">Quantity</td>
                                <td class="p-2 text-end">{{product.quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="{{product.barcode.url}}" height="80px" alt="barcode"/>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-sm btn-outline-secondary">
                            Cancel
                        </a> 
                        <button type="submit" class="ms-2 btn btn-sm btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>

</div>
{%endblock main%}