{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} Delete Purchase | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory">

    <div class="card height-100 d-flex justify-content-center align-items-center p-5">
        
        <div class="card width-50 border border-danger shadow-lg bg-body-tertiary rounded">
            <div class="card-header fs-5 fw-bolder text-center text-danger">Are you sure to delete Purchase ?</div>
            <div class="card-body">
                <form method="post" accept="">
                    {% csrf_token %}
                    <div class="fs-4 fw-bold text-center mb-2">{{purchase.supplier}}</div>
                    
                    <table class="table table-bordered table-sm">
                        <tbody>
                            <tr class="">
                                <td class="p-2 fw-bold">Date of purchase</td>
                                <td class="p-2 text-end">{{purchase.date}}</td>
                            </tr>
                            <tr class="">
                                <td class="p-2 fw-bold">Status</td>
                                <td class="p-2 text-end">{{purchase.status}}</td>
                            </tr>
                            <tr class="">
                                <td class="p-2 fw-bold">Grand Total</td>
                                <td class="p-2 text-end fw-bold">{{purchase.grand_total}}</td>
                            </tr>
                            <tr class="">
                                <td class="p-2 fw-bold">Paid Amount</td>
                                <td class="p-2 text-end">{{purchase.paid}}</td>
                            </tr>
                            <tr class="">
                                <td class="p-2 fw-bold">Payment Status</td>
                                <td class="p-2 text-end">{{purchase.payment_status}}</td>
                            </tr>
                            <tr class="">
                                <td class="p-2 fw-bold">Due Amount</td>
                                <td class="p-2 text-end text-danger">{{purchase.due}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <a href="{%url 'purchase-list'%}" class="btn btn-sm btn-outline-secondary">
                            Cancel
                        </a> 
                        <button type="submit" class="ms-2 btn btn-sm btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>

</div>
{%endblock main%}