{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} All Category | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory">

    <div class="card height-100">
        <div class="sticky-top bg-white">
            <div class="p-3 bg-white pt-3 pb-3 d-flex justify-content-between align-items-center">
                <div class="fs-5 pt-2 pb-2 fw-bold d-flex align-items-center">
                  <a href="{%url 'category-list'%}" class="btn-back btn-sm fw-light me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="" height="20px" width="25px">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                      </svg>                      
                  </a>
                  {{category}}
                </div>
                <div class="d-flex align-items-center">
                    <form class="d-flex align-items-center me-2" method="get" role="search">
                        <input name="q" class="form-control form-control-sm me-2" style="width: 200px;" type="search" placeholder="Search sub-category" aria-label="Search">
                        <button class="btn btn-outline-secondary btn-sm" type="submit">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="" height="20px" width="20px">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                          </svg>
                          Search
                        </button>
                      </form>
                  <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success btn-sm d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="20px" width="20px" class="me-1">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>              
                    Add
                  </button>
                </div>
            </div>
        </div>
        <div class="card-body overflow-scroll">
            <div class="row">
                {% for subcategory in subcategories %}
                <a href="#" class="col-3 mb-4">
                    <div class="card m-3 shadow position-relative">
                        <div class="card-body">
                            <div class="text-center fw-bold">{{ subcategory }}</div>
                        </div>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger fs-6">
                          {{ subcategory.product_count }}
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>  



    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New Sub-category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <label for="{{ form.name_for_label }}" class="form-label">Name:</label>
                {{ form.name}}
                <div class="mt-1 text-danger">
                    {{ form.name.errors }}
                </div>   
                <div class="width-100 mt-3 d-flex justify-content-end align-items-center">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-md btn-success ms-2" type="submit">Add</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>


</div>
{%endblock main%}