{%extends 'EcomLayout.html'%}
{% load static %}

{%block title%}Cart | Amarshop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/product_details.css'%}">
{%endblock link%}

{%block ecom%}
   

<div class="container p-0 min-h-75">

    <div class="card shadow">
        <div class="card-header p-3 bg-white d-flex align-items-center justify-content-between">
            <a href="{%url 'products'%}" class="btn btn-warning rounded-pill">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="20px" widht="20px">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
                </svg>                          
                Continue Shopping
            </a>
            <div class="fs-5 fw-bold">Shopping Cart</div>
            <div class="">Total Items: {{order.get_cart_items}}</div>
            <div class="">Grand Total: {{order.get_cart_total|floatformat:'1'}}</div>
            <a href="{%url 'checkout'%}" class="btn btn-success rounded-pill">
                Checkout
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="20px" widht="20px">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                  </svg>                  
            </a>
        </div>
        <div class="card-body">
            <table class="mt-3 table">
                <thead class="table-warning">
                    <tr>
                        <td class="text-center align-middle">Image</td>
                        <td class=" align-middle">Product</td>
                        <td class=" align-middle">Model</td>
                        <td class="text-center align-middle">Quantity</td>
                        <td class="text-center align-middle">Unit Price</td>
                        <td class="text-center align-middle">Subtotal</td>
                    </tr>
                </thead>
                <tbody>
                    {%for each in cartItems%}
                    <tr>
                        <td class="text-center align-middle">
                            {% with each.product.product_image_set.first as img %}
                                {% if img %}
                                <img width="60" src="{{ img.image.url }}" alt="{{ product.name }} Image">
                                {% else %}
                                    <div class="p-5 fw-bold fs-5 text-secondary d-flex align-items-center justify-content-center">No Product Image</div>
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td class="align-middle">{{each.product.product_name}}</td>
                        <td class="align-middle">
                            <div class="tiny">Brand: <span class="gedget">{{each.product.brand}}</span></div>
                            <div class="tiny">Category: <span class="gedget">{{each.product.category}}, {{each.product.subcategory}}</span></div>
                        </td>
                        <td class="text-center align-middle">
                            <div class="qty-container justify-content-center">
                                <button class="qty-btn-minus btn-danger btn-rounded mr-1" type="button" id="minus">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="25px" width="25px">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                                    </svg>  
                                </button>
                                <input type="text" value="{{each.quantity}}" name="qty" class="input-qty input-rounded"/>
                                <button class="qty-btn-plus btn-success btn-rounded ml-1" type="button" id="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="25px" width="25px">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                    </svg>                                      
                                </button>
                            </div>
                        </td>
                        <td class="text-center align-middle">$ {{each.product.price|floatformat:"1"}}</td>
                        <td class="text-center align-middle">$ {{each.get_subtotal}}</td>
                    </tr>
                    {%endfor%}
                    
                </tbody>
            </table>
        </div>
    </div>

</div>




{%endblock ecom%}