{%extends 'EcomLayout.html'%}
{% load static %}

{%block title%}Easy Checkout | Amarshop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/product_details.css'%}">
{%endblock link%}

{%block ecom%}
   

<div class="container p-0">

    <div class="card shadow mb-5">
        <div class="card-header text-center bg-white fs-5 fw-bold">Checkout</div>
        <div class="row">
            <div class="col">
                <div class="card-body" id="shipping-info">
                    <div class="fw-bold mt-2">Shipping Information</div>
                    <hr class="dropdown-divider"/>
                    <form id="form">
                        <!--  -->
                        <div class="form-group mb-3">
                            <label for="address">Address</label>
                            <input type="text" class="mt-1 form-control" id="address">
                        </div>
                        <div class="d-flex">
                            <div class="form-group w-100 mb-3 me-1">
                                <label for="city">City</label>
                                <input type="text" class="mt-1 form-control" id="city">
                            </div>
                            <div class="form-group w-100 mb-3">
                                <label for="state">State</label>
                                <input type="text" class="mt-1 form-control" id="state">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="zip_code">Zip code</label>
                            <input type="text" class="mt-1 form-control" id="zip_code">
                        </div>
                        <button type="submit" class="w-100 btn btn-success">Continue</button>
                    </form>
                </div>
                <div class="card-body visually-hidden" id="payment-info">
                    <div class="fw-bold mt-2">Payment</div>
                    <hr class="dropdown-divider"/>
                    <button class="btn btn-success w-100" id="make_payment">Make Payment</button> 
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{%url 'cart'%}" class="btn rounded-pill btn-outline-warning text-dark btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="20px" widht="20px">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
                            </svg>                          
                            Back to Cart
                        </a>
                        <div class="fw-bold">Order Summary</div>
                    </div>
                    <hr class="dropdown-divider"/>
                    <div style="height: 450px;" class="overflow-scroll">
                        <table class="table table-bordered">
                            <thead class="table-warning">
                                <tr>
                                    <td class="text-center align-middle">Image</td>
                                    <td class=" align-middle">Product</td>
                                    <td class="text-center align-middle">Quantity</td>
                                    <td class="text-center align-middle">Unit Price</td>
                                    <td class="text-center align-middle">Subtotal</td>
                                </tr>
                            </thead>
                            <tbody>
                                {%for each in cartItems%}
                                <tr>
                                    <td class="text-center align-middle">
                                        {% with each.product.product_image_set.first as img %}
                                            {% if img %}
                                            <img width="60" src="{{ img.image.url }}" alt="{{ product.name }} Image">
                                            {% else %}
                                                <div class="p-5 fw-bold fs-5 text-secondary d-flex align-items-center justify-content-center">No Product Image</div>
                                            {% endif %}
                                        {% endwith %}
                                    </td>
                                    <td class="align-middle">{{each.product.product_name}}</td>
                                    <td class="text-center align-middle">{{each.quantity}}x</td>
                                    <td class="text-center align-middle">{{each.product.price|floatformat:"1"}}</td>
                                    <td class="text-center align-middle">{{each.get_subtotal|floatformat:"1"}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




<script type="text/javascript">

    var formElement = document.getElementById("form")
   
    formElement.addEventListener("submit",function(e){
       e.preventDefault()
       document.getElementById("shipping-info").classList.add("visually-hidden")
       document.getElementById("payment-info").classList.remove("visually-hidden")
    })

    document.getElementById("make_payment").addEventListener("click",function(e){
        submitFormData()
    })

    function submitFormData(){
        console.log("Payment Button Clicked")
    }
       
</script>

{%endblock ecom%}


