{%extends 'EcomLayout.html'%}
{% load static %}

{%block title%} Forget Password | Amarshop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
{%endblock link%}

{%block ecom%}
   

<div class="container p-0 min-h-75">

    <div class="pt-5 d-flex flex-column justify-content-center align-items-center">
        <div class="w-40">
            <div class="card-body">
                <div class="text-center fs-5 fw-semibold pb-2 mb-3">Forget Password</div>
                <div class="alert alert-warning tiny" role="alert">
                    Enter your account email address to reset your password. We will send a verification code to your provided email address
                </div>
                <div class="form-block">
                  <form action="#" method="post">
                    <div class="form-group mb-3">
                      <label for="email">Email</label>
                      <input type="email" class="mt-1 form-control" id="email" required>
                    </div>
                    <button type="submit" class="w-100 btn text-dark btn-block btn-warning">Send</button>
                    <div class="text-center mt-3 tiny">
                        <a href="{%url 'login'%}" class="text-primary">Login</a>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>

</div>



{%endblock ecom%}