{%extends 'EcomLayout.html'%}
{% load static %}

{%block title%}Amar Shop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/home.css'%}">
{%endblock link%}

{%block ecom%}
   

<div class="container p-0">

    <!-- hero section -->
    <div class="d-flex p-5" style="height: 520px;">
        <div class="w-60 d-flex flex-column align-items-end justify-content-center">
            <div class="w-90">
                <div class="fs-1 mb-1">Welcome to <span class="gedget">Amar</span> Shop</div>
                <div class="text-secondary mb-3">Your Ultimate Destination for Online Shopping!</div>
                <div class="text p-0 mb-5 me-5 text-justify">Explore curated collections spanning fashion, electronics, and home decor. Enjoy seamless navigation, secure transactions, and prompt delivery. Elevate your shopping experience with Amar Shop today.</div>
                <a href="{%url 'products'%}" class="button">Shop Now</a>
            </div>
        </div>
        <div class="w-40 d-flex align-items-center justify-content-end">
            <img class="h-100 w-100" src="{%static 'images/hero.png'%}" alt="hero"/>
        </div>
    </div>


    <!-- content section -->
   <div class="w-100 pt-5">

    <!-- ----------new arrival -->
        <div>
            <div class="fs-3 text-center fw-bold  mb-3">New Arrival</div>
            <div class="pt-3">
                
                    {%for product in products%}

                    {% if forloop.counter0|divisibleby:4 %}
                    <div class="row">
                    {% endif %}
                        <div class="col-md-3 d-flex align-items-center justify-content-center">

                            <!-- card -->
                            <a href="{%url 'product-details' product.product_code product.product_name%}">
                            <div class="my-card mb-4">
                                <div class="img">
                                    {% with product.product_image_set.first as img %}
                                        {% if img %}
                                            <img class="img" src="{{ img.image.url }}" alt="{{ product.name }} Image">
                                        {% else %}
                                            <div class="p-5 fw-bold fs-5 text-secondary d-flex align-items-center justify-content-center">No Product Image</div>
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                
                                <div class="text">
                                    <p class="h3">{{product.product_name}}</p>
                                    <p class="p fw-bold text-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" hieght="15px" width="15px">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 7.5.415-.207a.75.75 0 0 1 1.085.67V10.5m0 0h6m-6 0h-1.5m1.5 0v5.438c0 .354.161.697.473.865a3.751 3.751 0 0 0 5.452-2.553c.083-.409-.263-.75-.68-.75h-.745M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>                                  
                                        {{product.price|floatformat:"0"}}
                                    </p> 
                                    <p class="p">{{product.subcategory}} - {{product.brand}}</p> 
                                    <div class="text-center">
                                        <a data-product="{{product.id}}" data-action="add" class="update-cart">
                                            <button class="mt-2 mb-2 cart-button ps-4 pe-4">
                                                <span class="circle1"></span>
                                                <span class="circle2"></span>
                                                <span class="circle3"></span>
                                                <span class="circle4"></span>
                                                <span class="circle5"></span>
                                                <span class="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" height="25px" width="25px">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                                    </svg>                                      
                                                    Cart
                                                </span>    
                                            </button>
                                        </a>
                                        <a href="#">
                                            <button class="mt-2 mb-2 cart-button ps-4 pe-4">
                                                <span class="circle1"></span>
                                                <span class="circle2"></span>
                                                <span class="circle3"></span>
                                                <span class="circle4"></span>
                                                <span class="circle5"></span>
                                                <span class="">
                                                    Buy Now
                                                </span>    
                                            </button>
                                        </a>
                                    </div>
                                </div> 
                            </div>
                            </a>

                        </div>
                    {% if forloop.counter|divisibleby:4 or forloop.last %}
                    </div>
                    {% endif %}
                    

                    {%endfor%}

            </div>
            <div class="text-center mt-3">
                <button class="btn btn-outline-dark btn-sm">View All</button>
            </div>
        </div>
    
    
    <!-- ---------- Features Product -->
        <div class="m-t mb-5">
            <div class="fs-3 text-center fw-bold mb-3">Feature Products</div>
            <div class="pt-3">
                
                    {%for product in products%}

                    {% if forloop.counter0|divisibleby:4 %}
                    <div class="row">
                    {% endif %}
                        <div class="col-md-3 d-flex align-items-center justify-content-center">

                           <!-- card -->
                           <a href="{%url 'product-details' product.product_code product.product_name%}">
                            <div class="my-card mb-4">
                                <div class="img">
                                    {% with product.product_image_set.first as img %}
                                        {% if img %}
                                            <img class="img" src="{{ img.image.url }}" alt="{{ product.name }} Image">
                                        {% else %}
                                            <div class="p-5 fw-bold fs-5 text-secondary d-flex align-items-center justify-content-center">No Product Image</div>
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                
                                <div class="text">
                                    <p class="h3">{{product.product_name}}</p>
                                    <p class="p fw-bold text-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" hieght="15px" width="15px">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 7.5.415-.207a.75.75 0 0 1 1.085.67V10.5m0 0h6m-6 0h-1.5m1.5 0v5.438c0 .354.161.697.473.865a3.751 3.751 0 0 0 5.452-2.553c.083-.409-.263-.75-.68-.75h-.745M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>                                  
                                        {{product.price|floatformat:"0"}}
                                    </p> 
                                    <p class="p">{{product.subcategory}} - {{product.brand}}</p> 
                                    <div class="text-center">
                                        <a data-product="{{product.id}}" data-action="add" class="update-cart">
                                            <button class="mt-2 mb-2 cart-button ps-4 pe-4">
                                                <span class="circle1"></span>
                                                <span class="circle2"></span>
                                                <span class="circle3"></span>
                                                <span class="circle4"></span>
                                                <span class="circle5"></span>
                                                <span class="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" height="25px" width="25px">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                                    </svg>                                      
                                                    Cart
                                                </span>    
                                            </button>
                                        </a>
                                        <a href="#">
                                            <button class="mt-2 mb-2 cart-button ps-4 pe-4">
                                                <span class="circle1"></span>
                                                <span class="circle2"></span>
                                                <span class="circle3"></span>
                                                <span class="circle4"></span>
                                                <span class="circle5"></span>
                                                <span class="">
                                                    Buy Now
                                                </span>    
                                            </button>
                                        </a>
                                    </div>
                                </div> 
                            </div>
                            </a> 

                        </div>
                    {% if forloop.counter|divisibleby:4 or forloop.last %}
                    </div>
                    {% endif %}
    
                    {%endfor%}

            </div>
            <div class="text-center mt-3">
                <button class="btn btn-sm btn-outline-dark">View all</button>
            </div>
        </div>

   </div>

</div>




{%endblock ecom%}