{% extends "Layout.html" %}
{% load static %}

{%block title%} Update Sales Item | Amar Shop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory">
    <div class="card height-100 d-flex justify-content-center align-items-center">
        <div class="card shadow-lg width-50">
            <div class="card-header fw-bold fs-4 text-center">Update Invoice Item</div>
            <div class="card-body">
                <form method="post">
                    {%csrf_token%}
                    {{form.as_p}}
                    <div class="mt-3 text-center">
                        <a href="{%url 'new-sale-invoice'%}" class="btn btn-sm btn-outline-secondary">Cancel</a>
                        <button type="submit" class="btn btn-sm btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock main%}


