{% extends "Layout.html" %}
{% load static %}

{%block title%} Sales List | Amar Shop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory">
    <div class="card height-100">
        <div class="p-3 bg-white pt-3 pb-3 d-flex justify-content-between align-items-center">
          <div class="fs-5 pt-2 pb-2 fw-bold d-flex align-items-center">
            Sales Records
          </div>
          <div class="d-flex align-items-center">
            <form class="d-flex align-items-center me-2" role="search">
              <input name="q" class="form-control form-control-sm me-2" style="width: 200px;" type="search" placeholder="Customer or Email" aria-label="Search">
              <button class="btn btn-outline-secondary btn-sm" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="" height="20px" width="20px">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
                Search
              </button>
            </form>
            <button type="button" class="me-2 btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="20px" width="20px">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
              </svg>                
              Filter
            </button>
            <a href="{%url 'new-sale-invoice'%}" id="new-invoice" class="btn btn-success btn-sm d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="20px" width="20px" class="me-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>              
              New Sale
            </a>
          </div>
      </div>
        <div class="card-body pt-0 overflow-scroll">
          <table class="table table-bordered table-hover table-sm">
            <thead class="table-secondary sticky-top">
              <tr>
                <th scope="col" class="text-center">Date</th>
                <th scope="col" class="text-center align-middle">Customer</th>
                <!-- <th scope="col" class="text-center align-middle">Email</th> -->
                <th scope="col" class="text-center align-middle">Status</th>
                <th scope="col" class="text-center align-middle">Total Quantity</th>
                <th scope="col" class="text-center align-middle">Grand Total</th>
                <th scope="col" class="text-center align-middle">Payment Status</th>
                <th scope="col" class="text-center align-middle">Paid</th>
                <th scope="col" class="text-center align-middle">Due</th>
                <th scope="col" class="text-center align-middle">Option</th>
              </tr>
            </thead>
            <tbody>
              {%for sale in Sales%}
                <tr>
                  <td class="text-center align-middle">{{sale.sales_date.date}}</td>
                  <td class="text-center align-middle">{{sale.customer.name}}</td>
                  <!-- <td class="text-center align-middle">{{sale.customer.email}}</td> -->
                  <td class="text-center align-middle">{{sale.status}}</td>
                  <td class="text-center align-middle">{{sale.total_quantity}}</td>
                  <td class="text-center align-middle">{{sale.grand_total}}</td>
                  <td class="text-center align-middle">{{sale.payment_status}}</td>
                  <td class="text-center align-middle">{{sale.paid}}</td>
                  <td class="text-center align-middle">{{sale.due}}</td>
                  <td class="text-center align-middle">
                    <div class="btn-group">
                      <a href="{%url 'sale-details' sale.id%}" class="btn btn-outline-secondary btn-sm" type="button">
                        Details
                      </a>
                      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        ...
                      </ul>
                    </div>
                  </td>
                </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
    </div>
</div>
{%endblock main%}